html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
  padding-bottom: 60px;
  position: relative;
  min-height: 100%;
}


.App-logo {
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 10px;
}

.App {
  margin: 1%;
}
